@page
@model RealEstateListingPlatform.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().AvatarUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().IsEmailVerified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().LastLoginAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvatarUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEmailVerified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastLoginAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
